
:root{
    --color-button-1: #363636;
    --color-button-2: #cd3d0f;
    --color-button-3: #2d64e6;
    --color-button-4: #d9dadc;
    --color-text-blue: #0f7ad0;
    --color-section-ps-plus: #bebcbb;
    --color-section-ps-now: #161c3b;
    --color-footer: #00439C;
}

.pad_top{
    padding-top: 200px;
}

.vert_non{
    vertical-align: baseline;
}

.marg_lr{
    margin:0 100px;
}

.col_blue{
    list-style: none;
}

.fon_siz{
    font-size: 14px;
}

.fon_siz_ico{
    font-size: 10px;
}

.bor_bot{
    text-decoration: underline;
}


.col_blue li::before {
    content: "\2022"; 
    color: var(--color-button-3);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
  }
/*Background Image-Color*/

.jumbo_1{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.jumbo_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}


.bg_ps_plus{
    background-color: var(--color-section-ps-plus);
}

.bg_ps_now{
    background-color: var(--color-section-ps-now);
}

.bg_ps_footer{
    background-color: var(--color-footer);
}


/*Buttons*/

.rounded_btn{
    border-radius: 25px;
}

.bg_btn_1{
    background-color: var(--color-button-1);
    color: white;
}

.bg_btn_2{
    background-color: var(--color-button-2);
    color: white;
}

.bg_btn_3{
    background-color: var(--color-button-3);
    color: white;
}

.bg_btn_4{
    background-color: var(--color-button-4);
    color: var(--color-text-blue);
}

.bord_col{
    outline: 2px solid var(--color-text-blue);
    outline-offset: 7px; 
}

.col_disabled{
    color: #727272;
}



/*Hover*/

.hov_bord:hover{
    filter: opacity(30%);
    border-bottom: 3px solid var(--color-text-blue);
}

.col_blue li:hover{
    border-bottom: 2px solid var(--color-button-3);
}

.bg_btn_1:hover{
    opacity: 0.7;
    background-color: var(--color-button-1);
    color: white;
    outline: 2px solid white;
    outline-offset: -4px;
}

.bg_btn_2:hover{
    opacity: 0.7;
    background-color: var(--color-button-2);
    color: white;
    outline: 2px solid black;
    outline-offset: -4px;
}

.bg_btn_3:hover{
    opacity: 0.7;
    background-color: var(--color-button-3);
    color: white;
    outline: 2px solid white;
    outline-offset: -4px;
}

.bg_btn_4:hover{
    background-color: var(--color-button-4);
    color: var(--color-text-blue);
    opacity: 0.7;
}

.btn-light:hover{
    opacity: 0.7;
    outline: 2px solid black;
    outline-offset: -4px;
}

.bord_col_hov:hover{
    transform: translate(0, -30px);    
}

.chev_hov:active{
    transform: rotate(180deg);
}

/*Media Query*/

@media all and (min-width:768px){
    .ms_image{
        width: 50%;
    }
}


